@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.category-chart-container {
  background-color: white;
  border: 1px solid rgb(12, 9, 9);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}
